
<!-- Lainat osittaisnäkymä --> 
<div class="lend-container g-0 mt-3">
    <ul class="responsive-table">
      <strong>

        <li class="table-row"
        {% if lend.status_of_rental == "Myöhässä" and not lend.returned %} style="background-color:#ff9b9a"
        {% elif lend.status_of_rental == "Erääntymässä" and not lend.returned %} style="background-color:#fff2009d"
        {% elif lend.status_of_rental == "Lainassa" and not lend.returned %} style="background-color:#00ff376a"
        {% else %} style="background-color:#d7caca"
        {% endif %}>

        <div class="col d-md-none align-self-center" data-label="Id"><small>{{lend.release_id}}</small></div>
        <div class="col align-self-center" data-label="Teoksen Nimi">{{lend.name_of_release}}</div>
        {% if lend.returned %}<div class="col align-self-center text-center" data-label="Lainattu"><i class="fa-regular fa-clock"></i> {{lend.rental_date|date:"d.m.Y h.m"}}  ––  {{lend.return_date|date:"d.m.Y h.m"}}</div>
        {% elif not lend.returned %}<div class="col align-self-center" data-label="Lainaa jäljellä"><i class="fa-regular fa-clock"></i> {{lend.left_of_lend}}</div>{%endif%}
        <div class="col text-center align-self-center" data-label="Status">{{lend.status_of_rental}}</div>
        
        {% if not lend.returned %}
        <div class="col-sm-auto py-2 text-center"> 
            <a href="/media/{{ lend.release.file }}" target=blank_ class="mx-3 border border-2 border-dark p-2 center lend-hover link-success" {%if not lend.release.file%}style="pointer-events: none"{%endif%}>Avaa</a>
            <a href="#" class="mx-2 border border-2 border-dark p-2 center lend-hover link-dark" data-bs-toggle="modal" data-bs-target="#returnModal_{{lend.id}}">Palauta</a>
            {% include 'lend/returnmodal.html' %}
            <!-- Button trigger modal -->


        </div>
        {% endif %}

        </li>
      </strong>
    </ul>
</div>