{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} - Kirjautuminen{% endblock %}
{% block content%}

<h1>Kirjaudu sisään</h1>

{% if form.errors %}
    <div class="mt-2 alert alert-warning alert-dismissible fade show" role="alert">
        Lomakkeen tiedoista löytyi virhe.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
{% endif %}
<div class="form-group">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form|crispy}}
        <input type="submit" value="Kirjaudu" class="mt-2 mb-2 btn btn-primary">
    </form>
<div>
<p>Tai: <br>
<a class="mt-2 mb-2 btn btn-secondary" href="{% url 'social:begin' 'github' %}"><i class="fa fa-github" aria-hidden="true"></i> Login with Github</a></p>
{% endblock %}